@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);

* {
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "sans-serif";
  color: #555;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color:black ;
  box-sizing: border-box;
}


.overlay { 
            height: 0%; 
            width: 100%; 
            position: fixed; 
            top: 0; 
            left: 0; 
            background-color: black; 
            overflow-y: hidden; 
            transition: 1.0s; 
            z-index:1;
        } 

        .overlay-content { 
            position: relative; 
            top: 25%; 
            width: 100%; 
            text-align: center; 
        } 

        .overlay a { 
            padding: 10px; 
            text-decoration: none; 
            font-size: 60px; 
            color: grey; 
            display: block; 
            transition: 0.3s; 
        } 

        .overlay a:hover, 
        .overlay a:focus { 
            color: white;
            text-decoration:none; 
            background-color: #6635F2 ;
        } 

        .overlay .closebtn { 
            position: absolute; 
            top: 10px; 
            right: 35px; 
            font-size: 70px; 
        } 

/*#vantaNet{
  position: absolute;
  display: block;
  min-width: 100%;
  min-height: 100vh;
  top:0;
  right:0;
  left: 0;
  z-index: -1;
}*/

